/* 集中放置所有 component */

/* navbar - start */
.header {
    background-color: #333333;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    border: 1px solid #770b3f;
    padding: 0px 10px 0px 10px;
}

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #04AA6D;
    color: white;
}

/* navbar - end */


/* dropdown list - start */
.select-box .select {
    background-color: #777;
    color: #fff;
    width: 100%;
    font-weight: bold;
    border: #000 2px solid;
    border-radius: 5px;
}

.prompt {
    margin-top: 10px;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
}

/* dropdown list - end */


/* - start */
/* - end */