body {
    background: #f7f9fb
}

.frame,
.frame * {
    box-sizing: border-box;
}

.frame {
    background: #f7f9fb;
    width: 100vw;
    height: 900px;
    position: relative;
    overflow: hidden;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    position: absolute;
    bottom: 0px;
}

.footer-bottom {
    padding: 24px 72px 24px 72px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.copyright {
    color: var(--gray-gray-700, #4f4f51);
    text-align: left;
    font: 400 12px/21px 'Noto Sans TC', sans-serif;
    position: relative;
}

.frame2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rescale-resolution {
    color: #000000;
    text-align: left;
    font: var(--heading-3-bold, 700 28px/40px 'Inter', sans-serif);
    position: relative;
}

.frame3 {
    display: flex;
    flex-direction: row;
    gap: 85px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.img-container {
    border-radius: 10px;
    border-style: dashed;
    border-color: var(--gray-gray-500, #919191);
    border-width: 1px;
    flex-shrink: 0;
    width: 441px;
    height: 331px;
    position: relative;
    overflow: hidden;
}

.frame-init-img-tip {
    color: var(--gray-gray-700, #4f4f51);
    font: var(--body-1-regular, 400 16px/24px 'Inter', sans-serif);
    position: absolute;
    left: 106px;
    top: 174px;
}

.small-img-svg {
    position: absolute;
    left: calc(50% - 18.5px);
    top: calc(50% - 31.5px);
    overflow: visible;
}

.image-element {
    width: 302px;
    height: 302px;
    position: absolute;
    left: 69px;
    top: 15px;
}

/* Styling an input type="file" button */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    border-radius: 6px;
    border-style: solid;
    border-color: var(--gray-gray-500, #919191);
    border-width: 1px;
    padding: 10px 16px 10px 16px;
    font: var(--body-1-semi-bold, 600 16px/24px 'Inter', sans-serif);
    color: var(--gray-gray-900, #19181b);
    cursor: pointer;
}

.frame-init-empty {
    background: var(--gray-gray-200, #dbdbdb);
    flex-shrink: 0;
    width: 441px;
    height: 331px;
    position: relative;
    overflow: hidden;
}

.button-filled {
    background: var(--gray-gray-900, #19181b);
    border-radius: 6px;
    padding: 10px 16px 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.alink-label {
    color: #ffffff;
    text-align: left;
    font: var(--body-1-semi-bold, 600 16px/24px 'Inter', sans-serif);
    position: relative;
    text-decoration: none
}